
{% extends 'base2.html.twig' %}
{% block title %}cadeau index{% endblock %}

{% block body %}
    <main id="main" class="main">

   
  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="GET" action="{{ path('app_cadeau_index') }}">
  <input type="text" name="q" placeholder="Search by nom cadeau  " title="Enter nom cadeau ">
  <button type="submit" title="Search"><i class="bi bi-search"></i></button>
</form>
 <a href="{{ path('app_cadeau_index') }}" class="">Retour</a>
        <div class="pagetitle">
            <h1>Les Articles</h1>
            
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">General</li>
                </ol>

            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
  <th>
    <a href="{{ path('app_cadeau_index', {'sort': 'valeur', 'order': order == 'asc' ? 'desc' : 'asc'}) }}">
       valeur
        {% if sort == 'valeur' %}
            {% if order == 'asc' %}
                <i class="bi bi-caret-down-fill"></i>
            {% else %}
                <i class="bi bi-caret-up-fill"></i>
            {% endif %}
        {% endif %}
    </a>
</th>
                    <div class="card">

                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}


                        {% for message in app.flashes('noticedelete') %}
                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}

                        <div class="card-body">

                            <h5 class="card-title">cadeau  list</h5>


                            <!-- Default Table -->
    <table class="table">
        <thead>
            <tr>
                <th>idcadeau</th>
                <th>nom_cadeay</th>
                <th>reccurence</th>
                <th>description</th>
                <th>valeur</th>
               
                <th>details</th>
                
            </tr>
        </thead>
        <tbody>
        {% for cadeau in cadeaus %}
            <tr>
                <td>{{ cadeau.idcadeau }}</td>
                <td>{{ cadeau.nom_cadeay }}</td>
                <td>{{ cadeau.reccurence  }}</td>
                <td>{{ cadeau.description }}</td>
                <td>{{ cadeau.valeur }}</td>
                
               
                  <td><a href="{{ path('app_cadeau_show',{idcadeau:cadeau.idcadeau}) }}">
                                            <button type="button" class="btn btn-outline-dark">Detail</button>
                                        </a></td>
               
                 
            
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_cadeau_new') }}">Create new</a>

                            <!-- End Default Table Example -->

                        </div>

                    </div>



                </div>


            </div>
        </section>

    </main>
{% endblock %}
