{% extends 'indexPromotion.html.twig' %}

{% block body %}
<br><br><br><br><br><br><br><br><br>

{{ form_start(form) }}
    {{ form_row(form.price) }}
    {{ form_row(form.code_coupon) }}
    {{ form_widget(form.submit) }}
{{ form_end(form) }}  
<h1>price : {{price}}</h1>
<h1> discount : {{newPrice}}</h1>
  <script>
    document.getElementById("discountButton").addEventListener("click", function(event) {
      event.preventDefault(); // prevent the form from submitting
      
      // get the input values
   var price = parseFloat(document.getElementById("inputPrice").value);
      var coupon = document.getElementById("inputCoupon").value;
      
      // check if the coupon code is valid and calculate the new price
     
      if (coupon === "ABC123") {
        newPrice = price * 0.5;
      } else if (coupon === "XYZ789") {
        newPrice = price * 0.8;
      }
      
      // show the new price in an alert message
      alert("The new price is: " + newPrice);
    });
  </script>
{% endblock %}
