{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block content %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ reclamation.commentaire }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reclamation.etat }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ reclamation.idUser }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ reclamation.dateCreation ? reclamation.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{% if reclamation.image %}
                    <img src="{{ asset('images/' ~ reclamation.image) }}" style="width:100px;height:100px;">
                {% else %}
                    No image available
                {% endif %}</td>
            </tr> 
            <tr>
            <th>Reponse</th>
            <td>
            {{ form_widget(form.reponse) }}
            </td>
            </tr>           
        </tbody>
    </table>
    

    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}"><button type="button" class="btn btn-info">Edit</button></a>
    <br><br>
    {{ include('reclamation/_delete_form.html.twig') }}
<br><br>
    <a href="{{ path('app_reclamation_index') }}"><button type="button" class="btn btn-secondary">Back to list</button></a>

    <table class="table">
        <tbody>

     

        <a href="{{ path('app_reponse_index') }}">back to list</a>
        </tbody>
    </table>


{% endblock %}
