{% block body %}


	<main id="main" class="main">


		<div class="pagetitle">


			<section class="section">
				<div class="row">
					<div class="col-lg-12">
						<h1>Create new Car Pool</h1>
						{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
						<form method="POST" action="{{ path('app_co_voiturage_new2', {'id_ch':chauffeur.idCh}) }}" enctype="multipart/form-data">
							{{ form_start(form) }}
							<div class="form-group">
								{{ form_label(form.depart, 'Departure') }}
								{{ form_widget(form.depart, { 'attr': {'class': 'form-control'} }) }}
								{{ form_errors(form.depart)}}

								<br>
							</div>
							<div class="form-group">
								{{ form_label(form.destination, 'Destination') }}
								{{ form_widget(form.destination, { 'attr': {'class': 'form-control'} }) }}
								{{ form_errors(form.destination)}}

								<br>

							</div>
							<div class="form-group">
								{{ form_label(form.date_dep, 'Departure Date and Time') }}
								{{ form_widget(form.date_dep, { 'attr': {'class': 'form-control'} }) }}
								{{ form_errors(form.date_dep)}}

								<br>

							</div>
							<div class="form-group">
								{{ form_label(form.nmbr_place, 'Number of seats') }}
								{{ form_widget(form.nmbr_place, { 'attr': {'class': 'form-control'} }) }}
								{{ form_errors(form.nmbr_place)}}

								<br>

							</div>
							<div class="form-group">
								{{ form_label(form.cov_img, 'Image') }}
								{{ form_widget(form.cov_img, { 'attr': {'class': 'form-control-file'} }) }}
								{{ form_errors(form.cov_img)}}

								<br>

								<br>

							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
							<br>

							{{ form_end(form) }}
						</form>
					</div>
				</div>


			</div>


		</div>
	</section>

</main>{% endblock %}
