{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Create new CoVoiturage</h1>
		<form method="POST" action="{{ path('app_co_voiturage_new') }}" enctype="multipart/form-data">
			{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.depart, 'Departure') }}
				{{ form_widget(form.depart, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<div class="form-group">
				{{ form_label(form.destination, 'Destination') }}
				{{ form_widget(form.destination, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<div class="form-group">
				{{ form_label(form.date_dep, 'Departure Date and Time') }}
				{{ form_widget(form.date_dep, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<div class="form-group">
				{{ form_label(form.nmbr_place, 'Number of seats') }}
				{{ form_widget(form.nmbr_place, { 'attr': {'class': 'form-control'} }) }}
			</div>
			<div class="form-group">
				{{ form_label(form.cov_img, 'Image') }}
				{{ form_widget(form.cov_img, { 'attr': {'class': 'form-control-file'} }) }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			{{ form_end(form) }}
		</form>

	{% endblock %}
