{% extends 'base.html.twig' %}


{% block header %}


 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{{path('profilch', {'id_ch' : chauffeur.idCh})}}">Tripee</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{path('profilch', {'id_ch' : chauffeur.idCh})}}">Home</a></li>
          <li><a class="nav-link scrollto active" href="{{ path('app_co_voiturage_index_fornt', {'id_ch' : chauffeur.idCh}) }}">Car pool</a></li>
          <li><a class="nav-link scrollto active" href="{{ path('app_reclamation_frontCh', {'id_ch' : chauffeur.idCh }) }}">Reclamation</a></li>
        
          <li class="scrollto" style="margin-left: 20px" >
      
  
                <img class="" src="{{ asset('uploads/' ~ chauffeur.img) }}" style="border-radius: 50%;width: 45px; height: 45px;">
                
                    <span style="font-size: 15px;color: #222222;margin-bottom: 2000px;">
                {{ chauffeur.idRole.idUser.nom }}
                {{ chauffeur.idRole.idUser.prenom }}
 <a  style="display: inline-block; margin-left: -30px;" class="nav-link scrollto active" href="{{ path('app_chauffeur_edit', {'id_ch': chauffeur.idCh}) }}"><i class="bi bi-pencil-square" style="font-size: 1em;"></i></a>
                </span>
    
        </li>
  <li>
      <a class="nav-link scrollto active" href="{{ path('login') }}">  <i class="bi bi-box-arrow-right" style="font-size: 1.9em;"></i></a>
      </li>
        </ul>
      
       
      </nav><!-- .navbar -->
 
    </div>
    
  </header><!-- End Header -->


{% endblock %}