<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>date debut reservation </th>
        <th>date fin reservation</th>
        <th>voiture reserve</th>
        <th>id locateur </th>
        <th>Update</th>
        <th>Delete</th>


    </tr>
    <tr  {%  for r in reservation %} >
        <td>{{r.id}} </td>
        <td>{{r.dateDebut |date('Y-m-d')}}</td>
        <td>{{r.dateFin |date('Y-m-d')}}</td>
       <td></td>
<td>{{r.idClient}}</td>
        <td></td>
        <td><a href="{{ path('app_DeleteReservation',{'id':r.id}) }}">Delete</a></td>






    </tr {%  endfor %}>
</table>
</body>
</html>