<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tripee</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
 {% block css %}
  <!-- Favicons -->
  <link href="{{ asset('Front/assets/img/favicon.png')}}" rel="icon">
  <link href="{{ asset('Front/assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('Front/assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ asset('Front/assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{{ asset('Front/assets/css/style.css') }}" rel="stylesheet">
{% endblock %}
  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
{% endblock %}
{% block body %}
<body>
    <!-- ======= Header ======= -->
    {% block header %}
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Tripee</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto active" href="{{ path('app_co_voiturage_index_client', {'id_client' : client.idClient }) }}">Car pool participation</a></li>
            
            <li><a class="nav-link scrollto active" href="{{ path('app_voitureaffichClient', {'id_client' : client.idClient}) }}">Car</a></li>
            <li><a class="nav-link scrollto active" href="{{ path('app_reclamation_front', {'id_client' : client.idClient }) }}">Reclamation</a></li>
            <li><a class="nav-link scrollto active" href="{{ path('app_roue', {'id_client' : client.idClient }) }}">Roue</a></li>          
          <li><a class="getstarted scrollto" href="{{ path('login') }}">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% endblock %}
  
  <main id="main">
    


  </main>
  {% block js %}
  <!-- Vendor JS Files -->
  <script src="{{ asset('Front/assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ asset('Front/assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ asset('Front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('Front/assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('Front/assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('Front/assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('Front/assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('Front/assets/js/main.js') }}"></script>
{% endblock %}
</body>
{% block hero %} 
   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grow your business with Tripee</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented developers making websites</h2>
          <div data-aos="fade-up" data-aos-delay="800">
          <!--  <a href="#about" class="btn-get-started scrollto">Login</a>-->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{{ asset('Front/assets/img/hero-img.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
   {% endblock %}

{% endblock %}