<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Matricule</th>
        <th>Marque</th>
        <th>puissance</th>
        <th>prix par jour </th>
        <th>picture</th>
        <th>energie</th>
        <th>etat</th>
        <th>id_locateur</th>
        <th>Update</th>
        <th>Delete</th>


    </tr>
    <tr  {%  for v in voiture %} >
        <td>{{v.id}} </td>
        <td>{{v.matricule}} </td>
        <td>{{ v.marque }}</td>
        <td>{{ v.puissance }}</td>
        <td>{{ v.prixJours }}</td>
        <td><img class="img-profile " src="{{ asset('uploads/' ~ v.picture) }}" style="max-height: 80px"></td>
        <td>{{ v.puissance }}</td>
        <td>{{ v.etat }}</td>
        <td>{{ v.idLocateur }}</td>
        <td> <a href="{{ path('updateVoiture',{'id': v.id})}}"> update</a> </td>
        <td><a href="{{ path('app_DeleteVoiture',{'id':v.id}) }}">Delete</a></td>




    </tr {%  endfor %}>
</table>
</body>
</html>